<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation-Signed" version="6.2.1.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.12" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net461" />
</packages>